.container {
  @include flex(row, space-between, center);
  margin: 20px auto 20px;
  width: 30%;
  height: 50px;
  z-index: 10;

  @include tablet-up {
    width: 60%;
  }
  @include smartphone-up {
    width: 80%;
  }

  .Box {
    width: auto;
    height: 70%;
    position: relative;
    z-index: 10;
    cursor: none;
    margin: 10px;

    img {
      height: 100%;
      width: auto;
      cursor: pointer;
      z-index: 10;
      transition: all 100ms ease-in-out;
      opacity: 0.6;
      filter: saturate(3227%) brightness(180%) contrast(90%);
      &:hover {
        transform: scale(1.2);
        color: lightblue;
        filter: invert(56%) sepia(84%) saturate(3227%) hue-rotate(172deg)
          brightness(180%) contrast(90%) drop-shadow(0px 0px 15px #13a1eb);
        -webkit-filter: invert(56%) sepia(84%) saturate(3227%)
          hue-rotate(172deg) brightness(180%) contrast(90%)
          drop-shadow(0px 0px 15px #13a1eb);
        opacity: 1;
      }
    }
    &:hover::after {
      content: "";
      position: absolute;
      background: rgb(255, 255, 255);
      left: 0;
      bottom: -20px;
      width: 110%;
      height: 10%;

      transform: perspective(0.9em) rotateX(40deg) scale(1, 0.3);
      color: rgba(173, 216, 230, 0.2);
      filter: invert(56%) sepia(84%) saturate(3227%) hue-rotate(172deg)
        brightness(180%) contrast(90%) drop-shadow(0px 0px 15px #13a1eb)
        blur(1em);
      z-index: -1;
      transition: all 100ms ease-in-out;
    }
  }
}
