.left_column {
  @include flex(column, space-between, center);
  position: fixed;
  left: 0;
  top: 5vh;
  width: 50px;
  height: 90vh;
  border-right: 1px solid white;

  @include smartphone-up{
    display: none;
  }



 
a{
  @include flex(column,flex-start,center);
  width: 100%;
  height: 50vh;
 color: white;
 cursor: none
}

  .left_column__line_container {
    @include flex(column, space-around, center);
    // background-color: blue;
    position: relative;
    width: 80%;
    height: 50vh;
    margin: 10vh 0 0 0;
    overflow: hidden;
    padding-bottom: 120px;

    &__text{
      position: absolute;
      right: 2%;
      top: 15px;
      font-size: 1.5rem;
      font-weight: bolder;
      writing-mode: vertical-rl;
      text-align: center;
      // transform: rotate(180deg);
      z-index: 10;
      @include stroke(1, black)
  
    }

    .line_container__line {
      background-color: yellow;
      width: 150%;
      height: 2em;
      min-height: 8px;
      margin-bottom: 30px;
      transform: rotate(40deg);
    }
  }

  .left_column__scroll_container {
    @include flex(column, space-around, center);
    // background-color: teal;
    width: 90%;
    height: 16em;
    margin: 15px 0 4vh 0;

    .scroll_container__text {
      @include flex(column, center, center);
      position: relative;
      word-spacing: 1em;
      writing-mode: vertical-rl;
      text-transform: uppercase;
      // transform: rotate(180deg);

      &::after {
        content: attr(data-text);
        position: absolute;
        left: 2px;
        text-shadow: -1px 0 red;
        top: 0;
        color: white;
        background: transparent;
        overflow: hidden;
        clip: rect(900px, 900px, 900px, 900px);
        animation: noise-anim 1s infinite linear alternate-reverse;
      }

      &::before {
        content: attr(data-text);
        position: absolute;
        left: -2px;
        text-shadow: 1px 0 blue;
        top: 0;
        color: white;
        background: transparent;
        overflow: hidden;
        clip: rect(900px, 900px, 900px, 900px);
        animation: noise-anim-2 2s infinite linear alternate-reverse;
      }
    }
  }
  .--disengage {
    text-decoration: line-through;
    color: rgb(211, 102, 102);
    font-weight: bold;
    
    &::after {
      display:none;
    }

    &::before {
      display:none;
    }
  }
}
