.container_404 {
  @include flex(column, center, center);
  height: 100vh;
  width: 100vw;

  
  @include smartphone-up {
    height: calc(100vh - 60px);
    width: 100vw;
    overflow: hidden;
    margin-top: 60px;
  }

  .side_text {
    height: 90vh;
    width: 220px;
    position: absolute;
    right: 0px;
    padding-right: 1rem;
    z-index: -15;
    font-size: 4rem;
    font-weight: bolder;
    text-align: center;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: map-get($colors, "dark_bg");
    @include stroke(1, #eeeeee);
    border-right: 1px solid white;

    @include smartphone-up {
      width: fit-content;
      right: 0;
      bottom: 0;
      border: none;
      font-size: 2.5rem;
    }

  }

  .error_title {
    position: relative;
    font-size: 10rem;
    font-weight: bolder;

    @include tablet-up{
      font-size: 7em;
    }
    @include smartphone-up {  
      font-size: 5rem;
      
    }

    &::after {
      content: attr(data-text);
      position: absolute;
      left: 2px;
      text-shadow: -1px 0 red;
      top: 0;
      color: white;
      background: transparent;
      overflow: hidden;
      clip: rect(0, 900px, 0, 0);
      animation: noise-anim 1s infinite linear alternate-reverse;
    }

    &::before {
      content: attr(data-text);
      position: absolute;
      left: -2px;
      text-shadow: 1px 0 blue;
      top: 0;
      color: white;
      background: transparent;
      overflow: hidden;
      clip: rect(0, 900px, 0, 0);
      animation: noise-anim-2 2s infinite linear alternate-reverse;
    }
  }

  // Text 
  p{
    @include smartphone-up {  
      text-align: center;
      padding: 0 60px;
      font-size: 1rem;
    }
  }
  
}

//Image
.image_404 {
  width: 100%;
  max-width: 252px;
  height: 100%;
  max-height: 400px;
  object-fit: cover;
  z-index: 10;
  opacity: 0.5;
  // filter: brightness(1) contrast(1.5) saturate(1.5);
}

