.about-container {
  @include flex(row, space-between, center);
  min-height: 100vh;
  width: 100%;

  @include smartphone-up {
    @include flex(row, center, center);
    scroll-snap-align: none;
  }

  @include tablet-up {
    @include flex(row, center, flex-start);
    scroll-snap-align: none;
  }


  /**
  * LEFT CONTAINER - TEXT BIO
  **/

  .text_bio_container {
    @include flex(column, center, stretch);
    width: 55%;
    height: 100%;
    padding: 0 0 0 100px;

    @include smartphone-up {
      @include flex(column, center, center);
      padding: 0;
      width: 90%;
      margin: 100px 0 20px 0;
      
    }
    @include tablet-up {
      @include flex(column, center, center);
      margin: 30px 0 0 0;
      
    }

    &__title {
      font-size: 1.5rem;
      position: relative;

      &::after {
        content: attr(data-text);
        position: absolute;
        left: 2px;
        text-shadow: -1px 0 red;
        top: 0;
        color: white;
        background: transparent;
        overflow: hidden;
        clip: rect(0, 900px, 0, 0);
        animation: noise-anim 1s infinite linear alternate-reverse;
      }

      &::before {
        content: attr(data-text);
        position: absolute;
        left: -2px;
        text-shadow: 1px 0 blue;
        top: 0;
        color: white;
        background: transparent;
        overflow: hidden;
        clip: rect(0, 900px, 0, 0);
        animation: noise-anim-2 2s infinite linear alternate-reverse;
      }
    }

    &__text {
      width: 100%;
      // text-align: justify;
      margin: 30px 0 0 0;
      line-height: 2rem;

      @include smartphone-up{
        font-size: .9em;
        line-height: 1.5em
      }
    }
  }

  /**
  * RIGHT CONTAINER - PORTAIT BIO
  **/

  .image_bio_container {
    @include flex(column, stretch, center);
    width: 45%;
    height: 100%;
    padding: 200px 100px 0 20px;

    @include smartphone-up {
      display: none;
    }
    @include tablet-up {
      width: 45%;
    height: 100%;
    margin-top: 20vh;
    padding: 20px;
    }

    &__photo {
      width: 85%;
      max-width: 800px;
    }
  }
}
