/**
* INDEX PAGE STYLE
**/

.index_container {
  height: 100vh;
  width: 100vw;
}

/**
* HOME PAGE STYLE
**/

.home {
  @include flex(row, space-around, center);
  position: relative;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  animation: flickering-2 1s forwards;

  @include smartphone-up {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: none;
  }
  @include tablet-up {

    scroll-snap-align: none;
  }

  /**
  * BACKGROUND IMAGE
  **/

  .background {
    position: absolute;
    width: 67vw;
    max-width: 1500px;
    overflow: hidden;
    z-index: -5;
    @include smartphone-up {
      width: 130%;
      left: 10%;
    }
    @include tablet-up {
      width: 130%;
      left: 10%;
    }
  }

  /**
  * LEFT CONTAINER - INTRO TEXT
  **/

  .main_text_container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: -20vh;
    margin-left: 6.5vw;
    // background-color: aqua;

    @include smartphone-up {
      margin: auto;
      width: fit-content;
    }
    @include tablet-up {
      margin: auto 9vw;
      width: 90%;
    }

    p {
      font-size: 2em;
      font-weight: bolder;

      @include smartphone-up {
        font-size: 1.1em;
      }

      .makeMeBiggerMfkr {
        position: relative;
        font-size: 3.4rem;

        @include smartphone-up {
          display: block;
          font-size: 1.8em;
        }

        &::after {
          content: attr(data-text);
          position: absolute;
          left: 2px;
          text-shadow: -1px 0 red;
          top: 0;
          color: white;
          background: transparent;
          overflow: hidden;
          clip: rect(0, 900px, 0, 0);
          animation: noise-anim 1s infinite linear alternate-reverse;
        }

        &::before {
          content: attr(data-text);
          position: absolute;
          left: -2px;
          text-shadow: 1px 0 blue;
          top: 0;
          color: white;
          background: transparent;
          overflow: hidden;
          clip: rect(0, 900px, 0, 0);
          animation: noise-anim-2 2s infinite linear alternate-reverse;
        }
      }
    }
    .main_text_container__myJob {
      width: fit-content;
      color: rgb(12, 12, 12);
      background-color: rgb(238, 238, 238);
    }

    .otw {
      position: absolute;
      bottom: -35vh;
      left: 40vw;
      font-size: 2rem;
      text-decoration: underline;

      @include smartphone-up {
        left: 30vw;
        bottom: -25vh;
        font-size: 1em;
      }
    }
  }

  /**
  * PORTRAIT CONTAINER
  **/

  .portrait_container {
    @include flex(row, space-around, center);
    position: relative;
    height: 100vh;
    width: 100px;

    @include smartphone-up {
      display: none;
    }
    @include tablet-up {
      display: none;
    }


    .portrait {
      position: absolute;
      left: -25vw;
      width: auto;
      height: 70vh;
      z-index: -1;
      
    }
    .portrait1 {
      position: absolute;
      left: -25.4vw;
      width: auto;
      height: 70vh;
      z-index: -1;
      filter: sepia(2) hue-rotate(172deg) contrast(1.2) saturate(1);
      opacity: 0.5;
      animation: noise-anim-img 1s infinite linear alternate-reverse;
    }

    .portrait2 {
      position: absolute;
      left: -24.6vw;
      width: auto;
      height: 70vh;
      z-index: -1;
      filter: sepia(2) contrast(1.2) saturate(1);
      opacity: 0.5;
      animation: noise-anim-img-2 1.5s infinite linear alternate-reverse;
    }

    .--hidden {
      display: none;
    }
  }

  /**
  * RIGHT SIDE BANNER
  **/

  .right_side_text {
    height: 90vh;
    width: 220px;
    position: absolute;
    right: 40px;
    padding-right: 1rem;
    z-index: -15;
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: map-get($colors, "dark_bg");
    @include stroke(1, #eeeeee);
    border-right: 1px solid white;

    @include smartphone-up {
      right: -150px;
      border: none;
      font-size: 2.5rem;
    }
    @include tablet-up {
      right: -7vw;
      border: none;
      // font-size: 2.5rem;
    }


  }
}
