/**
* INDEX PAGE STYLE
**/

.index_container {
  min-height: 100vh;
  width: 100vw;
  @include smartphone-up {
    min-height: calc(100vh - 60px);
  }
}

/**
* HOME PAGE STYLE
**/

.home {
  // @include flex(row, center, center);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  animation: flickering-2 1s forwards;

  background-image: url("../../public/images/background_1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include smartphone-up {
    height: calc(100vh - 60px);
    width: 100vw;
    scroll-snap-align: none;
  }
  @include tablet-up {
    scroll-snap-align: none;
  }

  /**
  * BACKGROUND IMAGE
  **/

  /**
  * LEFT CONTAINER - INTRO TEXT
  **/

  .main_text_container {
    position: relative;
    flex-direction: column;
    position: relative;
    margin-top: 20vh;
    margin-left: 10vw;

    @include smartphone-up {
      margin: auto;
      width: fit-content;
    }
    @include tablet-up {
      margin: auto 9vw;
      width: 90%;
    }

    p {
      font-size: 2em;
      font-weight: bolder;

      @include smartphone-up {
        font-size: 1.1em;
      }

      .makeMeBiggerMfkr {
        position: relative;
        font-size: 3.4rem;

        @include smartphone-up {
          display: block;
          font-size: 1.8em;
        }

        &::after {
          content: attr(data-text);
          position: absolute;
          left: 2px;
          text-shadow: -1px 0 red;
          top: 0;
          color: white;
          background: transparent;
          overflow: hidden;
          clip: rect(0, 900px, 0, 0);
          animation: noise-anim 1s infinite linear alternate-reverse;
        }

        &::before {
          content: attr(data-text);
          position: absolute;
          left: -2px;
          text-shadow: 1px 0 blue;
          top: 0;
          color: white;
          background: transparent;
          overflow: hidden;
          clip: rect(0, 900px, 0, 0);
          animation: noise-anim-2 2s infinite linear alternate-reverse;
        }
      }
    }
    .main_text_container__myJob {
      font-size: 1em;
      // font-weight: 400;
      margin-top: 20px;
      width: 40vw;
    }

    .main_text_container__button {
      background-color: rgba(255, 255, 255, 0.1);
      color: white;
      padding: 10px 20px;
      border: 2px solid white;
      border-radius: 2px;
      margin-top: 6vh;
      backdrop-filter: blur(5px);

      a {
        color: white;
        text-decoration: none;
        font-size: 1.2em;
        font-family: "Michroma", sans-serif;
      }
    }

    .otw {
      position: absolute;
      bottom: -35vh;
      left: 40vw;
      font-size: 2rem;
      text-decoration: underline;

      @include smartphone-up {
        left: 30vw;
        bottom: -25vh;
        font-size: 1em;
      }
    }
    .--disengage {
      text-decoration: line-through;
      color: rgb(211, 102, 102);
      font-weight: bold;
    }
  }

  /**
  * RIGHT SIDE BANNER
  **/

  .right_side_text {
    height: 90vh;
    width: 220px;
    position: absolute;
    right: 40px;
    padding-right: 1rem;
    z-index: -15;
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: map-get($colors, "dark_bg");
    @include stroke(1, #eeeeee);
    border-right: 1px solid white;

    @include smartphone-up {
      right: -150px;
      border: none;
      font-size: 2.5rem;
    }
    @include tablet-up {
      right: -7vw;
      border: none;
      // font-size: 2.5rem;
    }
  }
}
