@import "../Components/switch";
@import "../Components/crt";
@import "../Components/loader";
@import "../Layout/header";
@import "../Layout/footer";



section {
  @include flex(row, center, center);
  width: 100%;
  height: 100%;

  .canevas {
    @include flex(row, center, center);
    max-width: 380px;
    max-height: 380px;
    margin-top: -25px;

    #portrait {
      border-radius: 40%;
      z-index: -10;
      opacity: 0.6;
    }
  }

  .text-bio {
    margin: 1% 0 0 5%;
    color: white;
    width: 600px;

    .typo-robin {
      font-size: 2.5rem;
    }

    .typewriter-title {
      padding: 1% 0 0 5%;
      font-size: 2.5rem;
      font-family: "shareTech";
    }
    .Typewriter {
      display: inline-block;
    }
    p {
      padding: 2% 0 0 10%;
      font-size: 18px;
      font-family: "shareTech";
    }
    #work {
      margin-top: 30px;
    }
  }
}
