.projects {
  @include flex(column, center, center);
  min-height: 100%;
  width: 100%;
  margin-bottom: 15px;
  h1 {
    font-family: "shareTech", sans-serif;
    font-size: 2.5rem;
    color: rgb(88, 88, 88);
    margin-bottom: 15px;
  }
}

.card-container {
  @include flex(row, space-around,center);
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin-top: 25px;
  padding: 0 20px;
  
}

