@import '../Components/card';
.projects {
  @include flex(column, center, center);
  min-height: 100%;
  width: 100%;
  color: white;
  font-family: "shareTech", sans-serif;


  h1 {
    text-align: center;
    font-size: 2.5rem;
    color: rgb(88, 88, 88);
    margin-bottom: 15px;
  }

  @include tablet-up {
    margin-top: 120px;
  }
  @include smartphone-up {
    margin-top: 120px;
    h1{
      font-size: 2rem;
    }
  }
}

.card-container {
  @include flex(row, space-around,center);
  flex-wrap: wrap;
  width: 100%;
  min-height: 100%;
  margin-top: 25px;
  padding: 0 20px;

  @include smartphone-up {
    padding: 0;
  }
  
}

