
.card {
    background-color: rgb(235, 235, 235);
    @include flex(column, center, center);
    width: 350px;
    height: 500px;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    color: rgb(10, 10, 10);

    @include tablet-up {
        width: 330px;
        height: 520px;
    }
    @include smartphone-up {
        width: 100%;
        min-height: 500px;
        padding: 0;
        padding-bottom: 20px;
        margin-bottom: 35px;
        overflow: hidden
    }

    
  
    .card-image {
      @include flex(column, center, center);
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 10px;
      @include smartphone-up{
        max-height: 500px; 
      }
    }
    .card-links {
      @include flex(row, space-around, center);
      width: 100%;
      height: auto;
      padding: 10px;
      .links {
        @include flex(row, center, center);
        cursor: pointer;
        background-color: rgb(0, 0, 0);
        padding: 5px 10px;
        border-radius: 5px;
        width: 40%;
        height: 35px;
        text-align: center;
        transform: scale(1);
        a {
          text-decoration: none;
          color: rgb(79, 214, 0);
        }
        &:hover {
          transform: scale(1.15);
        }
      }

      @include smartphone-up{
        margin: 0;
        padding: 0;
        .links{
          height: 40px;
          width: 150px;
          margin : 10px;
        }
      }
    }
    .card-text {
      @include flex(column, center, center);
      width: 100%;
      height: auto;
      padding: 10px;
      font-family: "shareTech", sans-serif;
      font-size: 18px;

      

      h2,
      h3 {
        margin: 10px;
        text-align: center;
      }
      ul {
        @include flex(row, space-around, center);
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        li {
          // list-style: square;
          margin: 10px;
        }
      }
      @include smartphone-up {
        ul{
          margin-bottom:10px;
        }
      }
    }
  }