.card {
  @include flex(row, space-between, center);
  width: 100vw;
  height: 100vh;
  scroll-snap-align: none;


  @include smartphone-up {
    @include flex(row, center, center);
    height: calc(100vh - 60px);
    margin-top: 60px;
    scroll-snap-align: end;
  }
  @include tablet-up {
    @include flex(row, center, center);
    height: calc(100vh - 60px);
    margin-top: 60px;
  }


  /**
  * LEFT CONTAINER -  PROJECTS INFO
  **/

  &__left_container {
    @include flex(column, space-around, stretch);
    // background-color: aqua;
    width: 45%;
    height: 100%;
    padding: 8vh 0 8vh 100px;

    @include smartphone-up {
      @include flex(column, space-between, stretch);
      width: 90%;
      padding: 0;
    }
    @include tablet-up {
      @include flex(column, space-between, stretch);
      width: 80%;
      height: 70%;
      padding: 0;
    }

    &__2 {
      @include flex(column, space-around, stretch);
      height: 100%;
    }

    h2 {
      width: fit-content;
      background-color: white;
      color: black;
      padding: 0 5px 0 5px;
      margin-bottom: 15px;

      @include smartphone-up {
        font-size: 1.1em;
        margin-top: 40px;
      }
    }

    &__text {
      margin: 20px;
      line-height: 1.6rem;

      @include smartphone-up {
        font-size: 0.9em;
        margin: 10px;
      }
    }

    &__techno {
      margin: 20px;
      @include smartphone-up {
        margin: 0px;
      }
      ul {
        @include flex(row, flex-start, stretch);
        flex-wrap: wrap;
        width: 100%;
        list-style: none;
        li {
          margin: 10px;

          @include smartphone-up {
            font-size: 0.9em;
            margin: 5px;
          }
        }
      }
    }

    &__code {
      @include flex(row, center, center);
      width: 100%;
      margin-top: 5vh;
      font-size: 1.2rem;

      @include smartphone-up {
        margin-bottom: 60px;
        font-size: 1em;
      }

      .link {
        a {
          position: relative;
          background-color: white;
          border-radius: 5px;
          padding: 5px;
          margin: 4vh 3vw;
          font-weight: bolder;
          cursor: none;

          &:hover {
            background-color: transparent;
            // color: white;
            &::after {
              content: attr(data-text);
              position: absolute;
              left: 1px;
              top: 18%;
              color: rgb(81, 219, 81);
              z-index: 1;

              text-shadow: -1px 0 red;
            }

            &::before {
              content: attr(data-text);
              position: absolute;
              left: -1px;
              top: 18%;
              color: rgb(81, 219, 81);
              text-shadow: 1px 0 blue;
              z-index: 1;
            }
          }
        }
      }
    }
  }


  /**
  * RIGHT CONTAINER - PROJECT IMAGE
  **/
  &__right_container {
    // background-color: rgb(30, 134, 134);
    @include flex(column, center, center);
    width: 55%;
    height: 100%;

    @include smartphone-up {
      display: none;
    }
    @include tablet-up {
      display: none;
    }
  }
}
