.card {
  @include flex(row, space-between, center);
  width: 100vw;
  height: 99vh;
  margin: 1px;
  // padding: 15px;

  &__left_container {
    @include flex(column, flex-start, stretch);
    // background-color: aqua;
    width: 45%;
    height: 100%;
    padding: 18vh 0 0 100px;

    h2 {
      width: fit-content;
      background-color: white;
      color: black;
      padding: 0 5px 0 5px;
      margin-bottom: 15px;
    }

    &__text {
      margin: 20px;
      line-height: 1.6rem;
    }

    &__techno {
      margin: 20px;
      ul {
        @include flex(row, flex-start, stretch);
        flex-wrap: wrap;
        width: 100%;
        list-style: none;
        li {
          margin: 10px;
        }
      }
    }

    &__code {
      @include flex(row, center, center);
      // background-color: aquamarine;
      width: 100%;
      margin: 10vh 0;
      font-size: 1.2rem;
      .link {
        
        a {
         position: relative;
         background-color: white;
         border-radius: 5px;
         padding: 5px;
         margin: 4vh 3vw;
         font-weight: bolder;
         cursor: none;

          &:hover {
            background-color: transparent;
            // color: white;
            &::after {
              content: attr(data-text);
              position: absolute;
              left: 1px;
              top: 18%;
              color: rgb(81, 219, 81);
              z-index: 1;
  
              text-shadow: -1px 0 red;
            }
  
            &::before {
              content: attr(data-text);
              position: absolute;
              left: -1px;
              top: 18%;
              color: rgb(81, 219, 81);
              text-shadow: 1px 0 blue;
              z-index: 1;
            }
          }
        }

      }
    }
  }

  &__right_container {
    // background-color: rgb(30, 134, 134);
    @include flex(column, center, center);
    width: 55%;
    height: 100%;
  }
}
