.switch {
   @include flex(column,center,center);
    top: 10px;
    right: 25px;
    width: 70px;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    z-index: 1500;

   
    @include smartphone-up {
      position: fixed;
      top:0px;
      right: 10px;
      // transform: scale(1.2);
      color: rgb(255, 255, 255);
    }
  }
  input[type="checkbox"].toggle-switch {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 4em;
    height: 2em;
    border-radius: 2em;
    background-color: #ddd;
    outline: 0;
    cursor: none;
    @include tablet-up{
      cursor: pointer;
    }
    transition: background-color 0.09s ease-in-out;
    position: relative;
  }
  
  input[type="checkbox"].toggle-switch:checked {
    background-color: rgb(215, 216, 133);
  }
  
  input[type="checkbox"].toggle-switch::after {
    content: "";
    width: 2em;
    height: 2em;
    background-color: white;
    border-radius: 2em;
    position: absolute;
    transform: scale(0.7);
    left: 0;
    transition: left 0.09s ease-in-out;
    box-shadow: 0 0.1em rgba(0, 0, 0, 0.5);
  }
  
  input[type="checkbox"].toggle-switch:checked::after {
    left: 2em;
  }
  