@font-face {
    font-family: "Orbitron";
    src: url(../../public/fonts/Orbitron-VariableFont_wght.ttf) format("truetype");
  }
  
  @font-face {
    font-family: "ShareTech";
    src: url(../../public/fonts/ShareTechMono-Regular.ttf);
  }
  @font-face {
    font-family: "Start";
    src: url(../../public/fonts/PressStart2P-Regular.ttf);
  }