@font-face {
    font-family: "Bebas";
    src: url(../../public/fonts/BebasNeue-Regular.ttf) format("truetype");
  }
  
  @font-face {
    font-family: "Michroma";
    src: url(../../public/fonts/Michroma-Regular.ttf);
  }
  @font-face {
    font-family: "ShareTech";
    src: url(../../public/fonts/ShareTech-Regular.ttf);
  }
 