$colors: (
    'primary': #9356dc,
    'secondary': #ff79da,
    'accent': #99e2d0,
    'grey-1': #f6f6f6,
    'grey-2': #eaeaea,
    'grey-3': #7e7e7e,
    'grey-4': #383838,
    'grey-5': #353535
);