* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {

  width: 100%;
  height: 100vh;

  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }

} 


body {
  position: absolute;
  background: map-get($colors, "dark_bg");
  font-family: "Michroma", sans-serif;
  color: white;
  cursor: none;
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;

  @include tablet-up{
    cursor: auto;
  }
}

section {
  scroll-snap-align: end;
}

a {
  text-decoration: none;
  color: black;
}

#__next {
  width: 100%;
  height: 100%;
}

/**
* ECRAN CRT EFFECT
**/

.ecran {
  @include flex(row, space-between, center);
  min-height: 100vh;
  
}


/**
* CUSTOM CURSOR 
**/

.cursor {
  pointer-events: none;

  @include smartphone-up{
    display: none;
  }
  @include tablet-up{
    display: none;
  }

  &__circle {
    position: fixed;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    z-index: 1000;

    @include smartphone-up{
      display: none;
    }
    @include tablet-up{
      display: none;
    }

    circle {
      fill: white;
    }
  }
}
